/**
 *
 * common.scss
 *
 */

body{
  font-family: 'Slabo 27px', serif;  
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; } 


.clearfix{
  float: none;
}

.float-left{
  float: left;
}


