
/**
 *
 * geometry.scss
 *
 */


.my-square{
  float: left;
  width: 100px;
  height: 100px;
  background-color: red;
}


.my-circle{
  width: 100px;
  height: 100px;
  background-color: orange;
  border-radius: 50%;
}
