
/**
 *
 * geometry.scss
 *
 */


.geom {

      $size: 100px;
      &.col-red{
        background-color: red;
      }
      
      &.col-orange{
        background-color: orange;
      }

      &.col-green{
        background-color: green;
      }


      &.square{
        float: left;
        width:  $size;
        height: $size;

        transition: background-color .3s linear;
      }


      &.circle{
        float: left;
        width: $size;
        height: $size;
        border-radius: 50%;
        transition: background-color .3s linear;
        
      }


      &.pointer{
        cursor: pointer;
      }

}
